
<!-- About Section -->
<section class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <p>
                The college was established in 1959 as Indian River Junior College and located in a former public school building in Fort Pierce. IRJC moved to its current main campus on Virginia Avenue in 1963 after the city of Fort Pierce donated the site to the institution. In 1970, the Board of Trustees decided a name more fitting of the College's service to the community was needed, and it was renamed Indian River Community College. This was in keeping with the national trend for public junior colleges to drop the word "junior" in favor of 'Community." Within the confines of the College, the school is called The River or 'the ersk', pronouncing the school's acronym, IRSC. The school's mascot is the Pioneer.
              </p>
            </div>
            <div class="col-lg-4">
              <p>
                On 10 September 2007, IRCC's Board of Trustees voted unanimously to change the college's name to Indian River College, as it began its transition into a four-year institution. The name change needed to be enacted into law by the Florida Legislature.[2] Ultimately, the school's name was changed to Indian River State College by the college's board of trustees effective 1 July 2008.
              </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    Learn More
                </a>
            </div>
        </div>
    </div>
</section>
