<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-9 col-sm-5">
          <span class="input input--makiko">
            <input #searchTerm
                   id="site-search"
                   (keyup)="search(searchTerm.value)"
                   class="input__field input__field--makiko"
                   type="text"/>
            <label class="input__label input__label--makiko" for="input-16">
              <span class="input__label-content input__label-content--makiko">Search</span>
            </label>
          </span>
        </div>

        <div class="navbar-header ">
            <button type="button"
                    style="margin-top: 13px;"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#menuToggle"
                    id="menuButton">
                <span class="sr-only">Toggle navigation</span>
                <img src="assets/img/irsc-logo-white-lg.png"
                     style="width: 32px;"
                     alt="IRSC Logo - White" />
            </button>
        </div>

        <div class="collapse navbar-collapse" id="menuToggle">
            <ul class="nav navbar-nav navbar-right"
                style="margin-top: 12px;">
                <li class="hidden">
                    <a pageScroll href="#page-top" navMenuItem></a>
                </li>
                <li class="">
                    <!-- <a [routerLink]="['home']" navMenuItem>Home</a> -->
                    <a [routerLink]="['']" navMenuItem>Home</a>
                </li>
                <li class="">
                    <a [routerLink]="['about']" navMenuItem>About</a>
                </li>
                <li class="">
                    <a pageScroll [routerLink]="['get-started']" navMenuItem>Get Started</a>
                </li>
                <li class=" hidden-xs">
                    <a href="#more-menu" navMenuItem data-toggle="modal">
                      <i class="fa fa-2x fa-th-large"
                         style="margin-top: -5px;"
                         aria-hidden="true"></i>
                    </a>
                </li>
                <li id="menuMoreButton" class="visible-xs">
                    <a href="#more-menu" navMenuItem data-toggle="modal">
                      More
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
