.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
  padding: 0 3em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size: 80%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Makiko */
.input--makiko,
.input--makiko-no-icon {
	overflow: hidden;
	background: #CBCBCB;
}

.input__field--makiko,
.input__field--makiko-no-icon {
	width: 100%;
	background: transparent;
	color: #797693;
	z-index: 10;
	font-weight: 500;
}

.input__label--makiko,
.input__label--makiko-no-icon {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
	color: #fff;
}

.input__label--makiko::before,
.input__label--makiko-no-icon::before {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	top: 20%;
	background: url(../assets/img/search.svg) no-repeat center center;
	background-size: 100%;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7,0,0.3,1);
	transition: transform 0.4s cubic-bezier(0.7,0,0.3,1);
}

.input__label--makiko::before {
	left: 15px;
}

.input__label--makiko-no-icon::before {
	left: -200px;
}

.input__label-content--makiko,
.input__label-content--makiko-no-icon {
	display: block;
	padding: 1.5em 0 0 2.75em;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7,0,0.3,1);
	transition: transform 0.4s cubic-bezier(0.7,0,0.3,1);
}

.input__field--makiko:focus + .input__label--makiko::before,
.input__field--makiko-no-icon:focus + .input__label--makiko-no-icon::before,
.input--filled .input__label--makiko::before,
.input--filled .input__label--makiko-no-icon::before, {
	-webkit-transform: scale3d(38, 38, 1);
	transform: scale3d(38, 38, 1);
}
