
<div class="container">
  <div class="row">
    <div class="gallery-controls col-xs-12">
      <button class="btn btn-warning filter" data-filter="all">All</button>
      <button class="btn btn-primary filter" data-filter=".category-1">Category 1</button>
      <button class="btn btn-secondary filter" data-filter=".category-2">Category 2</button>
      <button class="btn btn-success sort" data-sort="my-order:asc">Ascending Order</button>
      <button class="btn btn-danger sort" data-sort="my-order:desc">Descending Order</button>
    </div>
  </div>
</div>
<div class="irsc-gallery center-block">
  <ng-content></ng-content>
</div>
